
button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body{
  height: 300px;
  width:300px;
  background-color: #011e4d;
}



.buttonCircle{ 
  width: 15px; 
  height: 15px; 
  font-size: 0; 

  border: 0; 
  border-radius: 15px;
   
  outline: none; 
  padding: 0px !important
}


#StartRecord{
  background-color: rgb(169.75, 24.25, 28.25) ;
  margin-top: calc(50% + 12px);

}


#StartRecord.inactive{
  background-color: #631c1c !important; 
}

.Rec{
  animation-name: pulse;
  animation-duration: 0.95s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.col-recButton{
  margin-right:0px !important;
  padding-right: 0px !important;
  padding: 0px !important;
  height: 50px;
  position: relative;
 
  width: max-content !important;



}

.col-recField{
  margin-left: 0px !important;
  padding-left: 0px !important;
}

#recordField{
  height: 50px;
  width: 225px;
  padding:0px;
  margin: 0px;
  outline: none;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#lineRecord{

  outline: none;
  overflow: hidden;
  top: 20px;
  position: absolute;
  width: 223px;

}

.block-her{
--element-left:20px;
width: 2px;
height: 2px;
background-color: red;
position: absolute;
top: 26.7px;
padding: 0px;
margin: 0px;
outline: none;
left: var(--element-left);
transition: 0.6s;
}
@keyframes pulse{
  0%{
    box-shadow: 0px 0px 5px 2px rgba(173,0,0,.3);
    background-color:  rgba(173,0,0,.5) ;
  }
  35%{
    box-shadow: 0px 0px 5px 7px rgba(189,0,0,.3);
    background-color:  rgba(182,0,0,.6) ;
  }
  65%{
    box-shadow: 0px 0px 5px 7px rgba(195,0,0,.3);
    background-color:  rgba(195,0,0,.7) ;
  }
  90%{
    box-shadow: 0px 0px 5px 7px rgba(215,0,0,0.3);
    background-color:  rgba(215,0,0,0.8);

  }
  95%{
     background-color:  rgba(215,0,0,0.9);
  }

}