button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body{
  height: 300px;
  width:300px;
  background-color: rgba(123, 32, 32, 0.1);
}